body {
	background:lightgray;
	border:2px solid red;
	width:960px;
	height:2000px;
	margin:auto;
}

#MPcontainer{
	background:none;
	border:2px solid blue;
	width:90%;
	height:95%;
	margin:auto;
	margin-top: 20px;	
	margin-bottom: 20px;
}

#MPHeader{
	background:none;
	border:2px solid black;
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
}

#MPinnerHeader{
	background:none;
	border:2px solid blue;
	margin-top:20px;
	margin-left:150px;
	margin-right:0px;
	margin-bottom:5px;
}

#social{
	background:none;
	border: 2px solid blue;
	margin-top:5px;

}

.SideBar{
	background-color:green;
	border:2px solid black;
	width:30px;
	height:600px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	float:left;
	transition: all .8s;
}

.SideBar:hover{
	width:150px;
}


h1 {
	text-align: center;
	font-size: 30px;
}

#logo{
	float:left;
	margin-left:30px;
}

.nav{
	vertical-align: middle;
}

nav ul{
	list-style: none;
	padding-left: 150px;
	padding-right: 150px;
}

nav ul li{
	display:inline-block;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 70px;
	font-style:italic;
}

#sideBarTitle{
	text-align: center;	
	padding:40px;
	color:lightgray;
}

ul li {
	display:block;
	list-style: none;
}

#topics {
	border:5px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
	color:lightgray;
	font-style: italic;
}