body {
	background:white;
	border:2px solid white;  /* body*/
	width:960px;
	height:2000px;
	margin:auto;
}

#MPcontainer{
	background:none;
	border:2px solid white;  /* container inside body*/
	width:90%;
	height:95%;
	margin:auto;
	margin-top: 20px;	
	margin-bottom: 20px;
}

#MPHeader{
	background:none;
	border:2px solid black;
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
}

.MPnav{
	font-style: bold;
	border-bottom: 1px solid black;
	height:30px;
	margin-bottom: 20px;
}

#MPinnerHeader{  /* horizontal menu bar*/
	background:none;
	border:2px solid white;  /* horizontal menu bar outline*/
	margin-top:20px;
	margin-left:150px;
	margin-right:0px;
	margin-bottom:5px;
}

#social{
	background:none;
	border: 2px solid blue;
	margin-top:5px;

}


h1 {
	text-align: center;
	font-size: 30px;
}

#logo{
	float:left;
	margin-left:60px;
}

.nav{
	vertical-align: middle;
}

nav ul{
	list-style: none;
	padding-left: 150px;
	padding-right: 150px;
}

nav ul li{
	display:inline-block;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 70px;
	font-style:italic;
}


.SideBar{
	background-color:black;
	border:2px solid black;
	width:30px;
	height:1809px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	float:left;
	transition: all .5s;
	position: fixed;
}

.SideBar:hover{
	width:135px;
}


.sideBarTitle{
	text-align:left;	
	color:black;
}


.topics ul li {
	display:inline;
	list-style: none;
	margin-left:0px;
}


.topics {
	border:0px;
	color:white;
	font-style: italic;
	left:10px;
	display:inline;
	list-style:none;
}

.hoverbar{
	width:150px;
	height:40px;
	border-bottom: 1px solid white;
}

#topicspace{
	margin-left: 20px;
}

a:link {
	color:black;
	text-decoration: none;
	font-style: 
}

.latestpod{
	width:710px;
	height:500px;
	margin-top:30px;
	margin-left: 150px;
	border-left:20px;
	position:relative;
}

#podcasts{
	margin-bottom: 20px;
	font-size: 85%;
}