body {
	background:none;
	border:2px solid none;
	width:100%;
	height:100%;
	margin:auto;
}

#container{
	background:none;
	border:2px solid none;
	width:100%;  
	height:90%;
	margin:auto;
	margin-top: 0px;	
	margin-bottom: 20px;
}

.celebrate{
	background-color:white;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:10px;
	padding-bottom:30px;
	border-bottom: 1px solid black;
}

#mission{
	text-align: center;
	color:black;
	font-size: 50pt;
}

.innerHeader{
	background:#3A44B2;
	border-bottom:2px solid none;
	padding-top:30px;
	padding-bottom:30px;
	margin-left:0px;
	margin-right:0px;
}

/*h1{
	text-align: center;
	color:white;
	font-size: 80pt;
	border:none;
	margin-top:0px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 70px;
}*/

.yc{
	color:white;
	text-align: center;
	color:white;
	font-size: 80pt;
	border:none;
	margin-top:0px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 70px;
}

.signup{
	background-color: white;
	border:2px solid white;
	padding-top:0px;
	padding-bottom:50px;
	margin-left:0px;
	margin-right:0px;
}

/*.pure-form{
	border:1px solid white;
}*/

.form{
	text-align: center;
	border: none;
}

#formtitle{
	color: black;
	text-align: center;
	padding-right:370px;
	font-size: 50pt;
}

fieldset{
	border:none;
	margin-left: 300px;
}

input {
	font-size: 20pt;
	border-bottom-right-radius:10pt;
}


a:link {
	color:white;
	text-decoration: none;
}

a:active {
	color:white;
	text-decoration: none;
}

a:visited {
	color:white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:#D1F8FF;

}

div.yc:hover{
	background-color:#FF4D63;
}

footer{
	margin-left: 50px;
	font-size: 10pt;
	font-style: italic;
	color:gray;
}




